:root {
  @apply light;

  --nav-height: 56px;
  --nav-width: 360px;
  --page-padding: 4vmax;
  --z-nav: 100;
}

.light {
  --ground: hsla(10, 35%, 93%, 1);
  --ground-75: hsla(10, 35%, 93%, 0.75);
  --ground-50: hsla(10, 35%, 93%, 0.5);
  --ground-25: hsla(10, 35%, 93%, 0.25);
  --ground-10: hsla(10, 35%, 93%, 0.1);
  --ground-05: hsla(10, 35%, 93%, 0.05);

  --primary: hsla(20, 12%, 10%, 1);
  --primary-75: hsla(20, 12%, 10%, 0.75);
  --primary-50: hsla(20, 12%, 10%, 0.5);
  --primary-25: hsla(20, 12%, 10%, 0.25);
  --primary-10: hsla(20, 12%, 10%, 0.1);
  --primary-05: hsla(20, 12%, 10%, 0.05);

  --secondary: hsla(224, 90%, 39%, 1);
  --secondary-75: hsla(224, 90%, 39%, 0.75);
  --secondary-50: hsla(224, 90%, 39%, 0.5);
  --secondary-25: hsla(224, 90%, 39%, 0.25);
  --secondary-10: hsla(224, 90%, 39%, 0.1);
  --secondary-05: hsla(224, 90%, 39%, 0.05);

  --highlight: hsla(23, 97%, 43%, 1);
  --highlight-75: hsla(23, 97%, 43%, 0.75);
  --highlight-50: hsla(23, 97%, 43%, 0.5);
  --highlight-25: hsla(23, 97%, 43%, 0.25);
  --highlight-10: hsla(23, 97%, 43%, 0.1);
  --highlight-05: hsla(23, 97%, 43%, 0.05);
}

.dark {
  --ground: hsla(20, 12%, 10%, 1);
  --ground-75: hsla(20, 12%, 10%, 0.75);
  --ground-50: hsla(20, 12%, 10%, 0.5);
  --ground-25: hsla(20, 12%, 10%, 0.25);
  --ground-10: hsla(20, 12%, 10%, 0.1);
  --ground-05: hsla(20, 12%, 10%, 0.05);

  --primary: hsla(10, 21%, 95%, 1);
  --primary-75: hsla(10, 21%, 95%, 0.75);
  --primary-50: hsla(10, 21%, 95%, 0.5);
  --primary-25: hsla(10, 21%, 95%, 0.25);
  --primary-10: hsla(10, 21%, 95%, 0.1);
  --primary-05: hsla(10, 21%, 95%, 0.05);

  --secondary: hsla(223, 62%, 71%, 1);
  --secondary-75: hsla(223, 62%, 71%, 0.75);
  --secondary-50: hsla(223, 62%, 71%, 0.5);
  --secondary-25: hsla(223, 62%, 71%, 0.25);
  --secondary-10: hsla(223, 62%, 71%, 0.1);
  --secondary-05: hsla(223, 62%, 71%, 0.05);

  --highlight: hsla(23, 97%, 53%, 1);
  --highlight-75: hsla(23, 97%, 53%, 0.75);
  --highlight-50: hsla(23, 97%, 53%, 0.5);
  --highlight-25: hsla(23, 97%, 53%, 0.25);
  --highlight-10: hsla(23, 97%, 53%, 0.1);
  --highlight-05: hsla(23, 97%, 53%, 0.05);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3 {
  @apply font-heading font-light;
}

.prose p,
.prose ul,
.prose ol {
  @apply mb-em;
}

.prose * + h2 {
  @apply mt-base;
}

strong {
  @apply font-semibold;
}

/* Hide the file name and time stamp when printing */
@page {
  margin: 0mm;
  size: auto;
}
