:root {
  @apply light;

  --nav-height: 56px;
  --nav-width: 360px;
  --page-padding: 4vmax;
  --z-nav: 100;
}

.light {
  --ground: linen;
  --ground-accent: thistle;
  --primary: black;
  --accent: tomato;
}

.dark {
  --ground: black;
  --ground-accent: midnightblue;
  --primary: linen;
  --accent: tomato;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
